body { 
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
margin:0; 
height: 100%;
} 


.td-dialog{
	width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    display: none;
}

.td-dialog .td-dialog-l1{
	width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

 .td-dialog .td-dialog-l1 .td-dialog-l2{
	zoom: 1;
    z-index: 99999;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.td-dialog .td-dialog-l1 .td-dialog-l2 .td-dialog-container{
	position: absolute;
    background-color: #f9f9f9;
    top: 0;
    left: 50%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    width: 859px;
    margin-left: -429px;
    min-height: 100%;
    top: 0px;
}


 .report-a-close{
    position: fixed;
    background-color: #fff;
    width: 64px;
    height: 64px;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    margin-left: 888px;
    top: 0;
}
.report-a-close a{
    text-decoration: none;
    color:#ccc;
}
.header {
    font-size: 12px;
    overflow: hidden;
    padding: 13px 0px;
    font-family: STSong,NSimSun,SimSun,serif;
}
.header-title {
    margin: 0 10px 0 0;
    font-size: 20px;
    color: #333;
    font-family: 'Microsoft Yahei';
}

.header-report-id, .header-scan-time {
    margin-top: 8px;
}

.container .time-line {
    font-size: 13px;
    margin-top: 10px 10px 24px 10px;
    padding: 20px;
    background: #f0f0f0;
    position: relative;
}

.vertical-line {
    position: absolute;
    width: 2px;
    background: #ccc;
    top: 31px;
    bottom: 30px;
    left: 115px;
}
.each-container {
    position: relative;
    margin-top: 10px;
}

.label-date {
    position: absolute;
    margin-top: 15px;
}

.label-circle {
    width: 8px;
    height: 8px;
    border: 3px solid #fff;
    position: absolute;
    margin-top: 17px;
    left: 89px;
    background: #2EA5FF;
    border-radius: 10px;
}

.risk-content {
    margin-top: 10px;
    margin-left: 115px;
    background-color: #fff;
    padding: 0 25px;
    border-radius: 10px;
}

.risk-content:before {
    content: ' ';
    width: 0;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: 95px;
    top: 11px;
}

.risk-content-info {
    font-size: 13px;
    padding-left: 20px;
    width: 100%;
    border-collapse: collapse;
}

table .risk-col1 {
    width: 30%;
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
}

table .risk-col2 {
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
}

.risk-row {
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #f0f0f0;
}

.risk-content-info-title {
    color: #000;
    font-size:15px;
}

.label-scan-time, .no_risk_info {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
}
.time-line .label-scan-time-title,.time-line .label-scan-time-content{
    font-family: STSong,NSimSun,SimSun,serif;
    font-size:12px;
}

/*个人基本信息*/
.person-info {
    padding-top: 5px;
    border-top: 20px solid #f9f9f9;
    border-bottom: 10px solid #f9f9f9;
}

h2 {
    color: #666;
}
.rpi-subitem .fl{
    margin-top: 10px!important;
    margin: 0px;
}
.person-info .monitor-report-preloan, .person-info .monitor-report-loan {
    display: inline-block;
    width: 48%;
    font-size: 14px;
    color: #999;
}

.person-info .rpi-subitem {
    overflow: hidden;
    padding: 0 23px 16px;
    font-size: 14px;
    color: #999;
}

.person-info .rpi-subitem p.fl, .person-info .rpi-subitem p.fr {
    display: inline-block;
    width: 49%;
}

.person-info .rpi-subitem .per49w {
    display: inline-block;
    width: 49%;
    height: 14px;
    line-height:14px;
    margin-top: 0;
    overflow: hidden;
}

.person-info .rpi-subitem .p-hidden {
    height: 14px;
    line-height: 14px;
    overflow: hidden;
}

.person-info .contact-person {
    overflow: hidden;
}

.person-info .contact1_person, .person-info .contact2_person, .person-info .contact3_person {
    display: inline-block;
    width: 32%;
    vertical-align: top;
}

/*设备信息*/
.rp-device-info {
    background: #fff;
    padding: 10px 10px 10px 0px;
    margin-top:10px;
    overflow: hidden;
}
.rp-device-info .rpi-subitem{
    padding-left:20px;
    margin-bottom:13px;
    overflow: hidden;
}

.rp-device-info p.fl, .rp-device-info p.fr {
    width: 50%;
    display: inline-block;
}
.rp-device-info .rpi-subitem .fr{
    margin-bottom:0px;
}
/*检测项目*/
.rp-basic-check {
    padding: 10px 10px 10px 0px;
    color: #999;
    border-bottom: 10px solid #f9f9f9;
    background-color: #fff;
    margin-top: 10px;
}
.table-wrap{
    padding: 0 20px 10px;
}
.table-mark{
	color: #C00;
}

.check-table {
    font-size: 13px;
    padding-left: 20px;
    width: 100%;
    border-collapse: collapse;
}

.check-table thead {
    border-bottom: 2px solid #eaeaea;
}

.check-table .risk-item-name {
    color: #333;
}

.check-table .risk-item-level {
    color: #333;
    text-align: center;
}

.check-table .border-bottom-2 {
    border-bottom: 2px solid #eaeaea;
}

.check-table .border-bottom-1 {
    border-bottom: 1px solid #eaeaea;
}

.check-table th, .check-table td {
    padding-left: 10px;
    height: 36px;
    text-align: left;
}
.check-table .row1,.check-table .row3 {
    width:30%;
}
.check-table .row2 {
    width:13%;
    text-align: center;
    padding-left:0px;
}
.check-table .inline-center {
    text-align: center;
    padding-left:0px;
}
/*查看详情*/
.a-detail {
    width: 480px;
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 2px 16px rgba(0,0,0,.2);
    overflow-y: scroll;
}
.detail-a-close a{
    text-decoration: none;
    color: #999;
}
.detail-a-close{
    text-align: right;
    margin: 10px 10px 0px 10px;
}
.detail-table{
    overflow-y: scroll;
}
.detail-table table{
    width: 96%;
    margin: 10px 2%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.detail-table table td{
    border: 1px solid #ccc;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    color:#666;
}

/*模态*/
.msk {
    position: fixed;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    right: 0;
    zoom:1;
}
.msk-detail{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    right: 0;
    display: none;
}
/*报告内自体的颜色*/
.container .risk-content-count-now,.container .table-mark {
    color: #C00;
}
.label-number{
    font-size:12px;
}
.label-span{
    color:#666;
}
.label{
    color:#999;
    font-size:14px;
}
.project-name,.inline-center{
    color:#666;
}
.rpi-title{
    font-size: 16px;
    font-weight: 700;
    padding: 0px 23px 0px 20px;
}
.contact-person-title {
    font-size: 16px;
    font-weight: 700;
    padding: 0px 23px 0px 20px;
}
.jz,.table-href{
    color:#2ea5ff;
    cursor: pointer;
}
.j-rpi-toggle-target{
    display: none;
}
.table-href{
    text-decoration:none;
    margin-left: 40px;
}
.table-href:hover{
    opacity: .7;
    text-decoration:underline;
}
.scan-time{
    margin-right: 20px;
}

/*报告头部信息*/
.risk-score{
    height: 178px;
    position: relative;
    background-color: #fff;
}

.result-score-wrap{
    width: 244px;
    height: 122px;
    position: absolute;
    top: 50%;
    left: 47px;
    margin-top: -61px;
}
.result-score-canvas-main{
    position: absolute;
}

#canvas-main{
    display: block;
    width: 244px;
    height: 122px;
}

.result-score-canvas-bg{
    position: absolute;
}

.result-score-text{
    top: 60%;
    left: 28px;
    width: 64px;
    margin-top: -42px;
    position: absolute;
}

.result-score {
    font-size: 32px;
    color: #333;
    text-align: center;
}

.result-cat{
    font-size: 14px;
    text-align: center;
    height: 23px;
    line-height: 23px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.result-text{
    margin-top: 60px;
    margin-left: 325px;
    float: left;
}

.result-text .result {
    font-size: 14px;
    margin-top: 12px;
}
.result-text p {
    line-height: 1;
}

.result-text a {
    display: inline-block;
    color: #2ea5ff;
    height: 18px;
    line-height: 18px;
    padding: 0 2px;
    border-bottom: 1px solid #2ea5ff;
    text-decoration: none;
}

.tongdun-certification{
    margin-top: 50px;
    margin-right: 88px;
}

.fl{
    float: left;
}

.fr{
    float:right;
}

.result-text .tip {
    font-size: 16px;
    font-weight: 700;
}

.result-cat.reject {
    color: #ff6c5c;
}
.result-cat.accept {
    color: #8cdb65;
}
.result-cat.review {
    color: #f8d436;
}
.col1{
    width: 45%;
    padding-right: 10px;
    text-align: right;
}
.col2{
    padding-left: 10px;
}

.report-mask{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7;
}

.report-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.contact{
    font-size: 14px;
}
.dimension-section, .risk-detail-section {
    padding-top: 1px;
    color: #666;
}
.risk-detail-section {
    width: 300px;
}
.dimension-title, .risk-detail-title {
    display: inline-block;
    cursor: pointer;
}
.dimension-list, .risk-detail-list {
    display: none;
    padding: 1px 0 0 20px;
    list-style: none;
}
.risk-detail-list {
    list-style-type: circle;
}
.dimension-item {
    padding-bottom: 3px;
}
